@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 
footer, header, nav, main, section { display: block; }
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}

/********************************************************/
/*@media (min-width: 1550px) and (max-width: 10000px) {}*/
body {
	overflow-x: hidden;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
#wrapper {
	display: block;
	width: 100%;
	height:100%;
	margin: 0 auto;
}
.layout {
	display: block;
	margin: 0 auto;
	width: 1540px;
}
.layout_main {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1300px;
}

/* header */
header {
	overflow: hidden;
	min-height: 885px;
	max-height: 1400px;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: #ffd630;
	padding: 70px 0 0 0;
	box-sizing: border-box;
}
header .white_block {
	height: calc(100vh - 70px - 80px);
	min-height: calc(885px - 70px - 80px);
	max-height: calc(1400px - 70px - 80px);
	width: calc(100% - 70px);
}
header .layout {
	position: relative;
	z-index: 4;
	padding-left: 120px;
}
header .decor {
	position: absolute;
	display: block;
}
header .decor-1 {
	left: 0px;
	top: -115px;
	transform: rotate(-140deg);
}
header .decor-2 {
	left: 51%;
	top: -35px;
	transform: rotate(80deg);
}
header .decor-3 {
	right: -8%;
	top: 203px;
}
header .decor-4 {
	left: 18%;
	bottom: 10px;
}
header .castle {
	height: calc(100vh * 0.8);
	right: 0;
	bottom: 0;
	z-index: 3;
}
header .white_block {
	position: relative;
	background: #fff;
	z-index: 2;
}
header .ship {
	position: absolute;
	z-index: 5;
	height: 109px;
	top: -15px;
	left: 10px;
}
header .contacts {
	padding: 34px 0 0;
	display: flex;
	justify-content: flex-start;
}
header	.contacts .logo h2{
	font-weight: bold;
	font-size: 59px;
	padding: 0 25px 0 0;
	line-height: 60px;
}
header	.contacts .logo h2 span {
	font-size: 46px;
}
header	.contacts .phone-mail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 0 0 25px;
	border-left: solid #000 6px;
}
header	.contacts .phone-mail p {
	display: flex;
	line-height: 2;
	font-size: 19px;
	align-items: center;
}
header	.contacts .phone-mail svg {
	width: 22px;
	margin: 0 10px 0 0;
}
header	.contacts .phone-mail a {
	color: #000;
}
header	.main-info {
	display: block;
	position: relative;
	z-index: 4;
	margin: 200px 0 0 0;
}
header	.main-info	h1 {
	font-weight: bold;
	font-size: 60px;
	color: #1c537c;
}
header	.main-info	ul {
	display: block;
	position: relative;
	z-index: 4;
	margin:85px 0 0;
	padding:0 0 0 17px;
	font-size: 20px;
	color: #1c537c;
}
header	.main-info	ul li {
	line-height: 2;
	font-weight: bold;
}
header	.main-info	ul li span {
	font-weight: normal;
	color: #000;
}
header	.main-info	ul li a {
	color: #1c537c;
}

/* main */
main {
	display: flex;
	flex-direction: column;
}
main #company,
main #work {
	position: relative;
	background: #eee;
}
main #company .layout_main,
main #work .layout_main{
	display: flex;
	justify-content: space-between;
}
main #company figure,
main #work figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 110px;	
}
main #company figure figcaption,
main #work figure figcaption {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #1c537c;
	margin-bottom: 50px;
}
main #company figure div,
main #work figure div {
	width: 650px;
	height: 363px;
}
main #company figure div iframe,
main #work figure div iframe,
main #vng-pmg div iframe,
main #business div iframe{
	width: 650px;
	height: 363px;
}
main #company .text,
main #work .text {
	display: flex;
	flex-direction: column;
	width: 560px;
	margin: 131px 0 90px;
}
main #work .text {
	margin-top: 170px;
}
main #company .text p,
main #work .text p {
	font-size: 18px;
	color: #1c537c;
	line-height: 2; 
}
main #company .text p span,
main #work .text p span {
	font-weight: bold;
	font-size: 20px;
	position: relative;
	z-index: 2; 
}
main #company .text p:nth-child(2) {
	font-weight: bold;
	font-size: 22px;
	margin: 55px 0 0 0;
}
main #company .text ul,
main #work .text ul {
	color: #1c537c;
	padding-left: 18px;
	margin-bottom: 70px;
	line-height: 2;
	font-size: 18px;
	z-index: 2;
}
main #work .text ul {
	margin-bottom: 0;
}
main #company img {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 1%;	
}
main #work img {
	display: block;
	position: absolute;
	bottom: 0;
	left: 48%;
	transform: rotate(-150deg);
}
main #vng-pmg,
main #business {
	position: relative;
	background: #fff;
}
main #vng-pmg .layout_main,
main #business .layout_main{
	display: flex;
	justify-content: space-between;
}
main #vng-pmg .text,
main #business .text {
	display: flex;
	flex-direction: column;
	width: 560px;
	margin: 89px 0 102px 0;
}
main #vng-pmg .text h3,
main #business .text h3 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #1c537c;
	margin-bottom: 60px;
}
main #vng-pmg .text p,
main #business .text p {
	font-size: 18px;
	color: #1c537c;
	line-height: 2; 
}
main #vng-pmg .text p span,
main #business .text p span {
	font-weight: bold;
	font-size: 20px;
}
main #vng-pmg .text ul,
main #business .text ul {
	color: #1c537c;
	padding-left: 18px;
	line-height: 2;
	font-size: 18px;
	z-index: 2;
}
main #business img {
	left: -2%;
	position: absolute;
	display: block;
	bottom: 0;
	z-index: 1;
	transform: rotate(100deg);	
}
main #vng-pmg div,
main #business div {
	width: 650px;
	height: 363px;
	background: #ccc;
	margin-top: 280px;
}
main #business div {
	margin-top: 300px;
}
main .houses img {
	display: block;
	position: relative;
	z-index: 3;
	width: 100%;
	margin: 0 auto;
}
/* footer */
footer {
	position: relative;
	overflow: hidden;
	background: #303134;
	padding: 150px 0 302px 0;
	position: relative;
	box-sizing: border-box;
}
footer .layout {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-around;
}
footer .phone-mail_fr {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
footer .phone-mail_fr h3,
footer .social h3 {
	font-weight: bold;
	font-size: 40px;
	color: #fff;
	margin: 0 0 65px 0;
}
footer .phone-mail_fr p {
	display: flex;
	font-size: 30px;
	line-height: 2;
}
footer .phone-mail_fr p svg {
	fill: #fff;
	margin: 0 30px 0 0;
	width: 30px;
}
footer .phone-mail_fr p a {
	color: #fff;
}
footer .social {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
footer .social ul {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
	margin: 25px 0 0 0;
	padding: 0;
}
footer .social ul li {
	margin: 0 15px 0 0;
}
footer .social ul li a img {
	width: 197px;
}
footer .decor {
	display: block;
	position: absolute;
}
footer .decor-1 {
	top: 70px;
	left: 1%;
}
footer .decor-2 {
	bottom: 95px;
	right: 10%;
	transform: rotate(170deg);
}
.scrollup{
	width:40px;
	height:40px;
	opacity:0.3;
	position:fixed;
	bottom:20px;
	right:100px;
	display:none;
	text-indent:-9999px;
	background: url(../images/icon_top.png) no-repeat;
	}
/********************************************************/
@media (min-width: 1350px) and (max-width: 1550px) {
	#wrapper {
		width: 100%;
	}
	.layout {
		width: 1340px;
	}
	.layout_main {
		width: 1240px;
	}
	header {
		min-height: 670px;
	}
	header .white_block {
		height: calc(100vh - 70px - 80px);
		min-height: calc(670px - 70px - 80px);
	}
	header .castle {
		height: calc(100vh * 0.8);
	}
	header	.contacts .logo h2 {
		line-height: 60px;
	}
	header	.contacts .phone-mail p {
		line-height: 2;
	}
	header	.main-info {
		margin: calc(100vh * 0.15) 0 0 0;
	}
	header	.main-info	ul {
		display: block;
		position: relative;
		z-index: 4;
		margin:50px 0 0;
		padding:0 0 0 17px;
		font-size: 20px;
		color: #1c537c;
	}
	footer .decor-1 {
		top: 70px;
		left: -1%;
	}
	footer .decor-2 {
		bottom: 95px;
		right: 0;
		transform: rotate(170deg);
	}
}
/********************************************************/
@media (min-width: 1218px) and (max-width: 1350px) {
	#wrapper {
		width: 100%;
	}
	.layout {
		width: 1210px;
	}
	.layout_main {
		width: 1100px;
	}
	header {
		min-height: 670px;
	}
	header .white_block {
		height: calc(100vh - 70px - 80px);
		min-height: calc(670px - 70px - 80px);
	}
	header	.contacts .phone-mail p {
		line-height: 2;
	}
	header	.main-info {
		margin: calc(100vh * 0.12) 0 0 0;
	}
	header	.main-info ul {
		margin-top: calc(100vh * 0.1)
	}
	header .castle {
		height: calc(100vh * 0.7);
	}
	main #company .text,
	main #work .text,
	main #vng-pmg .text,
	main #business .text {
		width: 450px;
	}
	main #company figure div,
	main #work figure div,
	main #vng-pmg div,
	main #business div {
		width: 547px;
		height: 305px;
	}
	main #company figure div iframe,
	main #work figure div iframe,
	main #vng-pmg div iframe,
	main #business div iframe{
		width: 547px;
		height: 305px;
	}
	footer .phone-mail_fr h3 {
		margin: 0 0 30px 0;
	}
	footer .social h3 {
		margin: 0 0 45px 0;
	}
	footer .social ul li a img {
		width: 160px;
	}
	footer .decor-1 {
		top: 50px;
		left: -1%;
	}
	footer .decor-2 {
		bottom: 105px;
		right: -3%;
		transform: rotate(170deg);
	}
}
/********************************************************/
@media (min-width: 978px) and (max-width: 1218px) {
	#wrapper {
		width:100%;
	}
	.layout {
		width: 968px;
	}
	.layout_main {
		width: 968px;
	}
	header {
		min-height: 670px;
	}
	header .white_block {
		height: calc(100vh - 70px - 80px);
		min-height: calc(670px - 70px - 80px);
	}
	header .castle {
		height: calc(100vh * 0.63);
		right: -10%;
	}
	header .ship {
		height: 105px;
		top: -10px;
	}
	header	.main-info {
		margin: calc(100vh * 0.1) 0 0;
	}
	header	.main-info	ul {
		margin: 45px 0 0;
	}
	main #company .layout_main,
	main #work .layout_main,
	main #vng-pmg .layout_main,
	main #business .layout_main {
		justify-content: space-around;
	}
	main #company .text,
	main #work .text,
	main #vng-pmg .text,
	main #business .text {
		width: 400px;
	}
	main #company figure div,
	main #work figure div,
	main #vng-pmg div,
	main #business div {
		width: 450px;
		height: 251px;
	}
	main #company figure div iframe,
	main #work figure div iframe,
	main #vng-pmg div iframe,
	main #business div iframe{
		width: 450px;
		height: 251px;
	}
	footer .phone-mail_fr h3 {
		margin: 0 0 30px 0;
	}
	footer .social h3 {
		margin: 0 0 45px 0;
	}
	footer .social ul li a img {
		width: 130px;
	}
	footer .decor-1 {
		top: 50px;
		left: -5%;
	}
	footer .decor-2 {
		bottom: 10px;
		right: -5%;
		transform: rotate(170deg);
	}
}

/********************************************************/
@media (min-width: 767px) and (max-width: 978px) {
	#wrapper {
		width:100%;
	}
	.layout {
		width: 747px;
	}
	.layout_main {
		width: 757px;
	}
	header {
		min-height: 670px;
	}
	header .white_block {
		height: calc(100vh - 70px - 80px);
		min-height: calc(670px - 70px - 80px);
	}
	header .castle {
		height: calc(100vh * 0.51);
		right: -10%;
	}
	header .ship {
		height: 105px;
		top: -10px;
	}
	header	.contacts .logo h2{
		padding: 0 20px 0 0;
		font-size: 44px;
		line-height: 65px;
	}
	header	.contacts .phone-mail {
		border-left: solid #000 3px;
	}
	header	.contacts .logo h2 span {
		font-size: 36px;
	}
	header	.main-info {
		margin: calc(100vh * 0.15) 0 55px;
	}
	header	.main-info	h1 {
		font-size: 45px;
	}
	header	.main-info	ul {
		margin: 30px 0 0;
	}
	main #company .layout_main,
	main #work .layout_main,
	main #vng-pmg .layout_main,
	main #business .layout_main{
		flex-direction: column;
		align-items: center;
	}
	main #work img {
		left: 7%;
	}
	main #company .text,
	main #work .text,
	main #vng-pmg .text,
	main #business .text {
		width: 400px;
		margin-top: 50px;
		margin-bottom: 0;
	}
	main #work .text {
		margin-bottom: 100px;
	}
	main #company figure div,
	main #work figure div,
	main #vng-pmg div,
	main #business div {
		width: 450px;
		height: 251px;
	}
	main #company figure div iframe,
	main #work figure div iframe,
	main #vng-pmg div iframe,
	main #business div iframe{
		width: 450px;
		height: 251px;
	}
	main #company figure,
	main #work figure {
		margin-top: 50px;
	}
	main #vng-pmg div,
	main #business div {
		margin: 50px 0 100px;
	}
	main #business img {
		left: -30px;
		bottom: 400px;
	}
	footer {
		padding: 120px 0 180px 0;
	}
	footer .layout {
		justify-content: space-between;
	}
	footer .phone-mail_fr h3 {
		margin-bottom: 15px;
	}
	footer .phone-mail_fr p {
		font-size: 22px;	
	}
	footer .phone-mail_fr p svg {
		width: 20px;
		margin-right: 10px;
	}
	footer .social h3 {
		margin-bottom: 15px;
	}
	footer .social ul li a img {
		width: 120px;
		margin-right: 10px;
	}
	footer .decor-1 {
		top: 50px;
		left: -5%;
	}
	footer .decor-2 {
		bottom: 10px;
		right: -5%;
		transform: rotate(170deg);
	}
}

/********************************************************/
@media (min-width: 600px) and (max-width:767px) {
	#wrapper {
		width:100%;
	}
	.layout {
		width: 590px;
	}
	.layout_main {
		width: 590px;
	}
	header {
		min-height: 670px;
	}
	header .white_block {
		height: calc(100vh - 70px - 80px);
		min-height: calc(670px - 70px - 80px);
	}
	header .layout {
		padding-left: 10px;
	}
	header .castle {
		height: calc(100vh * 0.53);
		right: -11%;
	}
	header .ship {
		height: 90px;
		top: -10px;
	}
	header .contacts {
		padding: 20px 0 0 97px;
	}
	header	.contacts .phone-mail {
		border-left: solid #000 3px;
	}
	header	.main-info {
		margin: calc(100vh * 0.15) 0 55px;
	}
	header	.main-info	ul {
		margin: 20px 0 0;
	}
	header	.contacts .logo h2{
		padding: 0 10px 0 0;
		font-size: 39px;
	}
	header	.contacts .logo h2 span {
		font-size: 34px;
	}
	header	.contacts .phone-mail {
		padding: 0 0 0 10px;
	}
	header	.contacts .phone-mail svg {
		width: 20px;
	}
	header	.main-info	h1 {
		font-weight: bold;
		font-size: 40px;
		color: #1c537c;
	}
	header	.main-info	ul {
		margin:20px 0 0;
	}
	header	.main-info	ul li {
		line-height: 1.5;
	}
	main #company .layout_main,
	main #work .layout_main,
	main #vng-pmg .layout_main,
	main #business .layout_main{
		flex-direction: column;
		align-items: center;
	}
	main #company .text,
	main #work .text,
	main #vng-pmg .text,
	main #business .text {
		width: 400px;
		margin-top: 50px;
		margin-bottom: 0;
	}
	main #work .text {
		margin-bottom: 50px;
	}
	main #company figure div,
	main #work figure div,
	main #vng-pmg div,
	main #business div {
		width: 450px;
		height: 251px;
	}
	main #company figure div iframe,
	main #work figure div iframe,
	main #vng-pmg div iframe,
	main #business div iframe{
		width: 450px;
		height: 251px;
	}
	main #company figure,
	main #work figure {
		margin-top: 50px;
	}
	main #vng-pmg div,
	main #business div {
		margin: 50px 0 100px;
	}
	main #work img {
		left: 2%;
		bottom: 0;
	} 
	main #business img {
		left: -30px;
		bottom: 400px;
	} 
	footer {
		padding: 120px 0 180px 0;
	}
	footer .layout {
		flex-direction: column;
		align-items: center;

	}
	footer .phone-mail_fr {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer .phone-mail_fr h3 {
		margin-bottom: 15px;
	}
	footer .phone-mail_fr div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer .phone-mail_fr p {
		display: flex;
		align-items: center;
		font-size: 26px;	
	}
	footer .phone-mail_fr p svg {
		width: 20px;
		margin-right: 10px;
	}
	footer .social {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer .social h3 {
		margin-bottom: 15px;
	}
	footer .social ul li a img {
		width: 120px;
		margin-right: 10px;
	}
	footer .decor-1 {
		top: 50px;
		left: -5%;
	}
	footer .decor-2 {
		bottom: 10px;
		right: -5%;
		transform: rotate(170deg);
	}
	.scrollup{
	right:20px;
	}
}

/********************************************************/
@media (min-width: 300px) and (max-width:600px) {
	#wrapper {
		width:100%;
	}
	.layout {
		width: 100%;
	}
	.layout_main {
		width: 100%;
	}
	header {
		min-height: 638px;
		padding: 40px 20px 0 0;
	}
	header .white_block {
		height: calc(100vh - 40px - 40px);
		min-height: calc(638px - 70px - 80px);
		width: calc(100% - 20px);
	}
	header .decor-1 {
		left: -40%;
		top: 0;
		transform: rotate(-140deg);
	}
	header .decor-2 {
		left: 56%;
		top: -35px;
		transform: rotate(80deg);
	}
	header .decor-3 {
		right: -38%;
		top: 203px;
	}
	header .decor-4 {
		left: 18%;
		bottom: -50%;
	}
	header .layout {
		padding-left: 0;
	}
	header .castle {
		height: calc(100vh * 0.4);
		right: 0;
	}
	header .ship {
		height: 80px;
		top: -10px;
		left: 20px;
	}
	header .contacts {
		padding: 15px 0 0 100px;
	}
	header	.contacts .logo h2{
		font-size: 38px;
		border-right: none;
		padding: 0 7px 0 0;
		line-height: 50px;
	}
	header	.contacts .logo h2 span {
		font-size: 28px;
	}
	header	.contacts .phone-mail {
		display: none;
	}
	header	.main-info {
		height: calc(100vh - 40px - 40px);
		margin: calc(100vh * 0.1) 0 0 20px;
	}
	header	.main-info	h1 {
		font-size: 26px;
	}
	header	.main-info	ul {
		margin:20px 0 0;
		padding:0 0 0 15px;
		font-size: 14px;
	}
	header	.main-info	ul li {
		line-height: 2;
	}
	main #company .layout_main,
	main #work .layout_main,
	main #vng-pmg .layout_main,
	main #business .layout_main{
		flex-direction: column;
		align-items: center;
	}
	main #company .text,
	main #work .text,
	main #vng-pmg .text,
	main #business .text {
		width: 290px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	main #company figure figcaption,
	main #work figure figcaption,
	main #vng-pmg .text h3,
	main #business .text h3 {
		font-size: 26px;
		margin: 0 0 30px;
	}
	main #company .text p,
	main #work .text p,
	main #company .text ul,
	main #work .text ul,
	main #vng-pmg .text p,
	main #business .text p,
	main #vng-pmg .text ul,
	main #business .text ul {
		margin: 0 0 0;
		font-size: 14px;
	}
	main #company .text p span,
	main #work .text p span,
	main #company .text ul span,
	main #work .text ul span,
	main #vng-pmg .text p span,
	main #business .text p span,
	main #vng-pmg .text ul span,
	main #business .text ul span {
		font-size: 15px;
	}
	main #company figure div,
	main #work figure div,
	main #vng-pmg div,
	main #business div {
		width: 290px;
		height: 162px;
		margin: 0;
	}
	main #company figure div iframe,
	main #work figure div iframe,
	main #vng-pmg div iframe,
	main #business div iframe{
		width: 290px;
		height: 162px;
	}
	main #company figure,
	main #work figure {
		margin: 30px 0 0;
	}
	main #vng-pmg div,
	main #business div {
		margin: 30px 0 50px;
	}
		main #work img {
		left: 2%;
		bottom: 0;
	}
	main #business img {
		left: 0;
		bottom: 250px;
	} 
	footer {
		padding: 80px 0 100px 0;
	}
	footer .layout {
		flex-direction: column;
	}
	footer .phone-mail_fr h3 {
		margin-bottom: 15px;
		font-size: 26px;
	}
	footer .phone-mail_fr div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer .phone-mail_fr p {
		font-size: 14px;
		line-height: 2;
	}
	footer .phone-mail_fr p svg {
		width: 20px;
		margin-right: 10px;
	}
	footer .social h3 {
		font-size: 24px;
		margin: 0 0 0 0;
	}
	footer .phone-mail_fr,
	footer .social {
		align-items: center;
		margin: 0 0 40px 20px;
	}
	footer .social ul li a img {
		width: 100px;
		margin-right: 10px;
	}
	footer .decor-1 {
		top: -2%;
		left: -15%;
	}
	footer .decor-2 {
		bottom: 10px;
		right: -15%;
		transform: rotate(170deg);
	}
	.scrollup{
		right:20px;
	}
}